# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
GithubFollowers/GithubFollowers/Info.plist
GithubFollowers/GithubFollowers/Base.lproj/LaunchScreen.storyboard
GithubFollowers/GithubFollowers/Assets.xcassets/gh-logo.imageset/gh-logo@3x.png
GithubFollowers/GithubFollowers/Assets.xcassets/gh-logo.imageset/gh-logo@2x.png
GithubFollowers/GithubFollowers/Assets.xcassets/gh-logo.imageset/gh-logo-dark@3x.png
GithubFollowers/GithubFollowers/Assets.xcassets/gh-logo.imageset/gh-logo-dark@2x.png
GithubFollowers/GithubFollowers/Assets.xcassets/gh-logo.imageset/Contents.json
GithubFollowers/GithubFollowers/Assets.xcassets/empty-state-logo.imageset/empty-state-logo@3x.png
GithubFollowers/GithubFollowers/Assets.xcassets/empty-state-logo.imageset/empty-state-logo@2x.png
GithubFollowers/GithubFollowers/Assets.xcassets/empty-state-logo.imageset/empty-state-logo-dark@3x.png
GithubFollowers/GithubFollowers/Assets.xcassets/empty-state-logo.imageset/empty-state-logo-dark@2x.png
GithubFollowers/GithubFollowers.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GithubFollowers/GithubFollowers.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/Contents.json
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/Icon.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_20pt.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_20pt@2x-1.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_20pt@2x.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_20pt@3x.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_29pt.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_29pt@2x-1.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_29pt@2x.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_29pt@3x.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_40pt.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_40pt@2x-1.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_40pt@2x.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_40pt@3x.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_60pt@2x.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_60pt@3x.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_76pt.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_76pt@2x.png
GithubFollowers/GithubFollowers/Assets.xcassets/AppIcon.appiconset/icon_83.5@2x.png
GithubFollowers/GithubFollowers/Assets.xcassets/avatar-placeholder.imageset/avatar-placeholder-dark@2x.png
GithubFollowers/GithubFollowers/Assets.xcassets/avatar-placeholder.imageset/avatar-placeholder-dark@3x.png
GithubFollowers/GithubFollowers/Assets.xcassets/avatar-placeholder.imageset/avatar-placeholder@2x.png
GithubFollowers/GithubFollowers/Assets.xcassets/avatar-placeholder.imageset/avatar-placeholder@3x.png
GithubFollowers/GithubFollowers/Assets.xcassets/AccentColor.colorset/Contents.json
GithubFollowers/GithubFollowers/Assets.xcassets/avatar-placeholder.imageset/Contents.json
GithubFollowers/GithubFollowers/Assets.xcassets/Contents.json
GithubFollowers/GithubFollowers/Assets.xcassets/empty-state-logo.imageset/Contents.json
GithubFollowers/GithubFollowers.xcodeproj/project.pbxproj
